$cl-pri: #192F59;
$cl-se: #3DB166;
$white: #fff;

$cl-text: #182847;
$cl-text-gray-main: #959595;
$cl-text-gray-footer: #ABABAB;
$cl-text-input: #B1C0D2;
$cl-bg-input: #3B4B6B;

$background-url: "../images/";